@import '~bootstrap/scss/bootstrap.scss';
body{
    background-image: url('https://www.dolby.com/siteassets/xf-site/blocks/hero/netflix-gradient.png?width=1440');
    background-repeat: no-repeat;
    background-size: cover;
}